<!-- Loop over each object in the post array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
    
      <a href="/post/{{post.id}}">{{post.post_title}}</a>
    </h2>
    {{!-- Using a custom helper 'format_date', the date has been formatted --}}
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.contents}}
    </p>
  </div>
</div>
{{/each}}
