<div class="text-center">
  <h2>{{title}}</h2>

  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  
  {{!-- #each comments here --}}
  <div class="justify-content-center">
  <p>
  {{#each comments}}
  <h4> {{comment}} </h4>
  <h4> Created by {{user.username}}</h4>
  <h5>{{date_created}}</h5>
  {{/each}}
 </p>
 </div>
  {{!-- If user is logged in, comment form --}}
</div>




<script src="./js/post.js"></script>
